<f:if condition="{wrapperActive} = 1">
    <f:then>
        <f:render section="showWrapper" arguments="{pageType: reloadPageType, smcProvider: smcProvider, data: data}" />
    </f:then>
    <f:else>
        <f:render section="showElement"  arguments="{data: data}" />
    </f:else>
</f:if>


<f:section name="showWrapper">
    <div class="mediaconsent_wrapper" data-mcid="{data.uid}-{pageType}">
        <input type="checkbox" name="mcb{smcProvider}">
        Ich bin damit einverstanden, dass mir Inhalte von {smcProvider} angezeigt werden.
    </div>
</f:section>

<f:section name="showElement">
    <f:format.raw>{data.bodytext}</f:format.raw>
</f:section>
